<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net48" />
  <package id="EmptyLicensesLicx" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="FSharp.Core" version="8.0.400" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.65" targetFramework="net48" />
  <package id="MailKit" version="4.7.1.1" targetFramework="net48" />
  <package id="MediatR" version="12.4.0" targetFramework="net48" />
  <package id="MediatR.Contracts" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="3.1.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.8" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2739.15" targetFramework="net48" />
  <package id="MimeKit" version="4.15.1" targetFramework="net48" />
  <package id="morelinq" version="4.3.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="RestSharp" version="112.0.0" targetFramework="net48" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net462" />
  <package id="Serilog" version="4.0.1" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="6.0.0" targetFramework="net48" />
  <package id="ServiceStack.Common" version="8.3.0" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="8.3.0" targetFramework="net48" />
  <package id="ServiceStack.OrmLite" version="8.3.0" targetFramework="net48" />
  <package id="ServiceStack.OrmLite.Sqlite" version="8.3.0" targetFramework="net48" />
  <package id="ServiceStack.Text" version="8.3.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="8.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net48" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>